PORT=5000
NODE_ENV=development

# PostgreSQL
DB_HOST=172.235.8.137
DB_PORT=5432
DB_NAME=rhinno
DB_USER=rhinoadminuser
DB_PASSWORD=rhinosecpass951

# JWT
JWT_SECRET=tfdyguvihjnopmkmjibgtr
JWT_EXPIRES_IN=7d

# Email (SMTP)
SMTP_HOST=smtp.sentinel.lk
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=scada.sentinel.lk
SMTP_PASS=InternalSentinel@Col8
EMAIL_FROM=Energy Monitoring System scada@sentinel.lk

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:3000

# Data simulator (set to false in production with real hardware)
ENABLE_SIMULATOR=true
SIMULATOR_INTERVAL_MS=5000
